{% macro render_config_item(config, name) %}
<thead>
    <tr>
        <th colspan="2">{{name}}</th>
    </tr>
</thead>
{% for k,v in config.items() %}
<tr>
    <td width="30%">{{k}} <span class="float-right"><i class="far fa-question-circle" data-toggle="tooltip"
                data-original-title="{{ v.desc }}"></i></span>
    </td>
    <td class="text-center">
        {% if v.can_edit %}
        <a href="#" id="{{k}}" class="myeditable" data-name="{{k}}" data-pk="{{loop.index}}" data-type="{{v.type}}"
            data-url="/redisboard/config" data-placement="right">{{v.value}}</a></td>
    {% else %}
    {{v.value}}
    {% endif %}
</tr>
{% endfor %}
{% endmacro %}