{% extends "layout.html" %}
{% block content %}
<section class="section">
    <div class="section-header">
        <h1>Server Information</h1>
        <div class="section-header-breadcrumb">
            <div class="breadcrumb-item">Host: {{config.REDIS_HOST}}</div>
            <div class="breadcrumb-item">Port: {{config.REDIS_PORT}}</div>
        </div>
    </div>

    <div class="section-body">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-3">
                                <ul class="nav nav-pills flex-column" id="myTab4" role="tablist">
                                    {% for key in info.keys() %}
                                    <li class="nav-item">
                                        <a class="nav-link {% if loop.first %}active{% endif %}" id="{{key}}-tab"
                                            data-toggle="tab" href="#{{key}}" role="tab">{{key}}</a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-9">
                                <div class="tab-content no-padding" id="myTab2Content">
                                    {% for group, items in info.items() %}
                                    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{group}}"
                                        role="tabpanel">
                                        <table class="table table-striped">
                                            {% for k,v in items.items() %}
                                            <tr>
                                                <td class="p-0 text-center">{{k}}</td>
                                                <td class="p-0 text-center">{{v}}</td>
                                            </tr>
                                            {% endfor %}
                                        </table>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}