{% extends "keydetail/base.html" %}
{% block keydetail %}

<div class="card-body">


</div>
<div class="card-footer text-right">
    <table class="table table-striped">
        <tr>
            <th class="text-center" style="width: 50%">Member</th>
            <th class="text-center" style="width: 30%">Score</th>
            <th class="text-center">Action</th>
        </tr>
        {% for member, score in key_details.data %}
        <tr>
            <td class="text-center">{{member}}</td>
            <td class="text-center">{{score}}</td>
            <td class="text-center">
                <a href="#" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                <a href="#" class="btn btn-danger"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}