/* 1.5 Chat */
.chat-box .chat-content {
    background-color: #f9f9f9 !important;
    height: 600px;
    overflow: hidden;
    padding-top: 25px !important;
  }
  .chat-box .chat-content .chat-item {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
  }
  .chat-box .chat-content .chat-item.chat-right img {
    float: right;
  }
  .chat-box .chat-content .chat-item.chat-right .chat-details {
    margin-left: 0;
    margin-right: 70px;
    text-align: right;
  }
  .chat-box .chat-content .chat-item.chat-right .chat-details .chat-text {
    text-align: left;
    background-color: #6777ef;
    color: #fff;
  }
  .chat-box .chat-content .chat-item > img {
    float: left;
    width: 50px;
    border-radius: 50%;
  }
  .chat-box .chat-content .chat-item .chat-details {
    margin-left: 70px;
  }
  .chat-box .chat-content .chat-item .chat-details .chat-text {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 3px;
    width: auto;
    display: inline-block;
    font-size: 12px;
  }
  .chat-box .chat-content .chat-item .chat-details .chat-text img {
    max-width: 100%;
    margin-bottom: 10px;
  }
  .chat-box .chat-content .chat-item.chat-typing .chat-details .chat-text {
    background-image: url("../img/typing.svg");
    height: 40px;
    width: 60px;
    background-position: center;
    background-size: 60%;
    background-repeat: no-repeat;
  }
  .chat-box .chat-content .chat-item .chat-details .chat-time {
    margin-top: 5px;
    font-size: 12px;
    font-weight: 500;
    opacity: 0.6;
  }
  .chat-box .chat-form {
    padding: 0;
    position: relative;
  }
  .chat-box .chat-form .form-control {
    border: none;
    padding: 15px;
    height: 50px;
    padding-right: 70px;
    font-size: 13px;
    font-weight: 500;
    box-shadow: none;
    outline: none;
  }
  .chat-box .chat-form .btn {
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -5px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
  }
  .chat-box .chat-form .btn i {
    margin-left: 0;
  }


  /* 1.8 DataTables */
table.dataTable {
    border-collapse: collapse !important;
  }
  table.dataTable thead th, table.dataTable thead td {
    border-bottom: 1px solid #ddd !important;
  }
  table.dataTable.no-footer {
    border-bottom: 1px solid #ddd !important;
  }
  
  .dataTables_wrapper {
    padding: 0 !important;
    font-size: 13px !important;
  }
  .dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
    margin: 0 !important;
    float: left;
  }
  
  div.dataTables_wrapper div.dataTables_processing {
    font-size: 0 !important;
    background-image: url("../img/spinner.svg") !important;
    background-color: #fff;
    background-size: 100%;
    width: 50px !important;
    height: 50px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.03);
    top: 50% !important;
    left: 50% !important;
    -webkit-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    margin: 0 !important;
    opacity: 1 !important;
  }