<div id="content-main">
    <fieldset class="module aligned key-details">
        <h2>Key details: {{ key_details.name }}</h2>
        <table>
            <tr>
                <th>Type</th>
                <th>TTL</th>
                <th>Encoding</th>
                <th>Items</th>
                <th>Idletime</th>
                <th>Refs</th>
            </tr>
            <tr>
                {% if key_details.error %}
                <td class="error" colspan="6">ERROR: {{ key_details.error }}</td>
                {% else %}
                <td>{{ key_details.type }}</td>
                <td>{{ key_details.ttl }}</td>
                <td>{{ key_details.encoding }}</td>
                <td>{{ key_details.length }}</td>
                <td>{{ key_details.idletime }}</td>
                <td>{{ key_details.refcount }}</td>
                {% endif %}
            </tr>
        </table>
    </fieldset>
    <fieldset class="module aligned key-data">
        <h2>Key data: {{ key_details.name }}</h2>
        <table>
            {% for key, value in key_details.data %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value|pprint }}</td>
            </tr>
            {% endfor %}
        </table>
        {% if key_details.data.paginator and key_details.data.paginator.num_pages > 1 %}
        <p class="paginator">
            {% for nr in key_details.data.paginator.page_range %}
            {% if key_details.data.number == nr %}
            <span class="this-page">{{ nr }}</span>
            {% else %}
            <a href="">{{ nr }}</a>
            {% endif %}
            {% endfor %}
            {{ key_details.data.paginator.count }} items
        </p>
        {% endif %}
    </fieldset>
</div>