<div id="content-main">
    <table class="server-status">
        <tr>
            <th>Status</th>
            <th>Memory</th>
            <th>Clients</th>
            <th>Details</th>
        </tr>
        <tr>
            <td>{{ stats.status }}</td>
            <td>{{ stats.memory }}</td>
            <td>{{ stats.clients }}</td>
            <td>
                <table>
                    {% for key, value in stats.brief_details.items() %}
                    <tr>
                        <td>{{ key }}</td>
                        <td>{{ value }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>
    </table>



    {% for db, db_detail in databases.items %}
    <fieldset class="module aligned database-details">
        <h2>
            Database {{ db }}:
            {{ db_detail.size }} keys,
            memory:
            ~{{ db_detail.total_memory|filesizeformat }} total,
            ~{{ db_detail.volatile_memory|filesizeformat }} volatile,
            ~{{ db_detail.persistent_memory|filesizeformat }} persistent

            {% if db_detail.active %}
            &larr;
            {% else %}
            &ndash; <a href="">Show details</a>
            {% endif %}
        </h2>
        {% if db_detail.active %}
        <table>
            <tr>
                <th rowspan="2">Keys({{ db_detail.keys|length }})</th>
                <th colspan="7">Details</th>
            </tr>
            <tr>
                <th>Type</th>
                <th>TTL</th>
                <th>Encoding</th>
                <th>Items</th>
                <th>Idletime</th>
                <th>Refs</th>
            </tr>

            {% for key, key_detail in db_detail.keys.items %}
            <tr>
                <td><a href="">{{ key }}</a>
                </td>
                {% if key_detail.error %}
                <td class="error" colspan="6">ERROR: {{ key_detail.error }}</td>
                {% else %}
                <td>{{ key_detail.type }}</td>
                <td>{{ key_detail.ttl }}</td>
                <td>{{ key_detail.encoding }}</td>
                <td>{{ key_detail.length }}</td>
                <td>{{ key_detail.idletime }}</td>
                <td>{{ key_detail.refcount }}</td>
                {% endif %}
            </tr>
            {% endfor %}

        </table>
        {% endif %}
    </fieldset>
    {% endfor %}
    {% if key_details %}
    <fieldset class="module aligned key-details">
        <h2>Key details: {{ key_details.name }}</h2>
        <table>
            <tr>
                <th>Type</th>
                <th>TTL</th>
                <th>Encoding</th>
                <th>Items</th>
                <th>Idletime</th>
                <th>Refs</th>
            </tr>
            <tr>
                {% if key_details.error %}
                <td class="error" colspan="6">ERROR: {{ key_details.error }}</td>
                {% else %}
                <td>{{ key_details.type }}</td>
                <td>{{ key_details.ttl }}</td>
                <td>{{ key_details.encoding }}</td>
                <td>{{ key_details.length }}</td>
                <td>{{ key_details.idletime }}</td>
                <td>{{ key_details.refcount }}</td>
                {% endif %}
            </tr>
        </table>
    </fieldset>
    <fieldset class="module aligned key-data">
        <h2>Key data: {{ key_details.name }}</h2>
        <table>
            {% for key, value in key_details.data.object_list %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value|pprint }}</td>
            </tr>
            {% endfor %}
        </table>
        {% if key_details.data.paginator and key_details.data.paginator.num_pages > 1 %}
        <p class="paginator">
            {% for nr in key_details.data.paginator.page_range %}
            {% if key_details.data.number == nr %}
            <span class="this-page">{{ nr }}</span>
            {% else %}
            <a href="">{{ nr }}</a>
            {% endif %}
            {% endfor %}
            {{ key_details.data.paginator.count }} items
        </p>
        {% endif %}
    </fieldset>
    {% endif %}
</div>